    header {
        background-image: url(images/top-img_414x276.png);
        height: 276px;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }

    #line {
        height: 2px;
        width: 30vw;
        background-color: #693074;
    }

    #logo {
        width: 15vw;
        max-width: 100px;
    }

    #slogan {
        font-family: Shree Devanagari 714;
        font-size: 3vw;
        position: absolute;
        left: 18vw;
        top: 3vh;
    }

    span {
        color: #693074;
    }

    .tasks {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-column-gap: 10px;
    }

    .tasks h1 {
        grid-column-start: 2;
        color: #83c5f2;
    }

    video {
        width: 90vw;
        display: block;
        margin: 0 auto;
    }

    h2 {
        font-size: 4.5vw;
        color: #6565c0;
        margin: 20px 0;
        text-align: center;
    }

    #reference,
    #map {
        width: 95vw;
    }
    /*//////////////////SVG styles FOR frontpage icons/////////////////////*/

    .svg-div {
        text-align: center;
    }

    svg {
        width: 5em;
    }

    rect,
    circle,
    path {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: draw 4s linear forwards;
    }

    @keyframes draw {
        from {
            stroke-dashoffset: 1000;
        }
        to {
            stroke-dashoffset: 0;
        }
    }
    /*//////////////////desktop style FOR frontpage/////////////////////*/

    @media only screen and (min-width: 666px) {
        header {
            background-image: url(images/top-img_1242x828.png);
            height: 828px;
        }
    }
